.custom__accordion {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}

.accordion__panel {
    display: grid;
    grid-template-columns: 25px repeat(3, auto 30px) 25px;
    height: 70px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgrey;
    transition: margin 0.5s ease-out;
}

.__without-description {
    height: 50px;
}

.__without-description.uncollapsed {
    height: auto;
}

.accordion__title {
    background-color: white;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    padding-left: 25px;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

h4.panel__title {
    font-size: 14px;
    color: #0465ac;
    margin: 5px 5px 5px 0px;
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: end;
    transition: font-size 0.5s;
}

.__without-description h4 {
    align-self: center;
}

h5.panel__subtitle {
    font-size: 12px;
    font-weight: 500;
    margin: 0 5px 0px 0px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.panel__arrow {
    grid-column-start: 7;
    grid-column-end: 7;
    align-self: center;
    text-align: center;
    color: #0465ac;
    cursor: pointer;
}

.panel__arrow i {
    font-size: 26px;
}

.collapsed {
    display: none;
    transition: margin 0.5s ease-out;
}

.uncollapsed {
    height: auto;
    padding-top: 20px;
    margin: 30px 0 30px 0;
    transition: margin 0.5s ease-in;
}

.uncollapsed .panel__title {
    font-size: 18px;
    /* transition is set to 'font-size 12s' */
}

.panel__content {
    margin: 25px 0 25px 0;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 13px;
    color: #333;
}

@-webkit-keyframes slide-down {
    0% {
        transform-origin: 0 0;
        opacity: 1;
        -webkit-transform: scaleY(0%);
    }
    100% {
        transform-origin: 0 0;
        opacity: 1;
        -webkit-transform: scaleY(100%);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleY(100%);
    }
}

@media (min-width: 840px) {
    .custom__accordion {
        width: 70%;
    }
    .accordion__panel {
        grid-template-columns: 25px repeat(5, auto 30px) 25px;
    }
    h4.panel__title {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    h5.panel__subtitle {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .panel__arrow {
        grid-column-start: 11;
        grid-column-end: 11;
    }
    .panel__content {
        grid-column-start: 2;
        grid-column-end: 2;
    }
}